.home-container {
    padding: 117px 708px 265px 120px;
}

.home-title {
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0.02em;
    color: #062847;
}

.home-subtitle {
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;
    color: #5A6774;

    margin-top: 25px;
    margin-bottom: 48px;
}